<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        class="img-thumbnail rounded-circle"
        width="200"
        src="img/code.png"
        alt="andra"
      />
      <h1 class="display-4">Andra</h1>
      <p class="lead">Penikmat YouTube</p>
    </div>
  </div>
</div>
